*{
	outline: 0; 
}
body{
	background: url("../img/section_shadower.jpg") repeat-x scroll center top #ffffff;
	overflow-y: hidden;
}
a:focus
{
outline:0;
} 

table#tablevisitor tr:hover{
	cursor:pointer;
}

.btn,.btn-lg{
	border-radius : 0px;
}

.col-padding-less{
	padding-left:0;
	padding-right:0;
}

.wrapper-img{
	padding-top:5%;
}

.wrapper-img > h3{
	margin-bottom:0%;
}

img + h3{
	margin-top:10px;
}

.img-responsive {
    margin: 0 auto;
}
.wrapper-img.active{
	background-color:#334d5c;
	color:white;
	border-top: solid 1px white;
	border-bottom: solid 1px white;
}

.wrapper-img{
	background-color:#18bc9c;
	color:white;
	border-top: solid 1px #18bc9c;
	border-bottom: solid 1px #18bc9c;
}

.wrapper-img:not(.active):hover{
	background-color:#334d5c;
	color:white;
}

.top{
	padding-top: 50px;
}

.nav > li > a{
	padding:0;
}

.nav-stacked > li + li{
	margin-top:0;
}
.no-padding{
	padding:0 0;
	border-right:1px solid white;
}

.btn-hidden{
	display:none;
}

.table-handler{
	height: 400px;
	overflow-y: auto;
}
tr{
	height: 70px;
}