body{
	background-color: #eaf1f1;
	overflow-y: hidden;
}

table#tablevisitor tr:hover{
	cursor:pointer;
}

.btn,.btn-lg{
	border-radius : 0px;
}

.col-padding-less{
	padding-left:0;
	padding-right:0;
}

.wrapper-img{
	padding-top:5%;
}

.wrapper-img > h3{
	margin-bottom:0%;
}

img + h3{
	margin-top:10px;
}

.img-responsive {
    margin: 0 auto;
}
.wrapper-img.green{
	background-color:#18bc9c;
	color:white;
}

.wrapper-img.red{
	background-color:#e05b49;
	color:white;
}

.wrapper-img.blue{
	background-color:#1fa4b6;
	color:white;
}

.top{
	padding-top: 50px;
}

.nav > li > a{
	padding:0;
}

.nav-stacked > li + li{
	margin-top:0;
}
.no-padding{
	padding:0 0;
}

.btn-hidden{
	display:none;
}

.table-handler{
	height: 400px;
	overflow-y: auto;
}
tr{
	height: 70px;
}