DirectoryIndex index.php

# On suit les liens symboliques 
Options +FollowSymlinks 
# Activation du mod rewrite d'Apache 
RewriteEngine On
# Réécriture de index.html vers index.php 
RewriteRule ^messagerie$ messagerie.php [L]
RewriteRule ^msg$ messagerie.php [L]
# Réécriture de index.html vers index.php 
RewriteRule ^admin$ admin.php [L]
RewriteRule ^alert$ listing.php [L]